---
layout: archive
permalink: /teaching/
title: "Teaching"
author_profile: true
redirect_from:
  - /teaching.html
---

For each course in below, you can find the syllabus, lectures, code repos, objectives and values, teaching assistants and other information by opening the link in the title which leads to the course page. 

<h2 id="instructor"><font color="#002d72">Instructor</font></h2> 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.teaching reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
  <!-- <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2> -->
  {% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
  {% include archive-single-teaching.html %}
{% endfor %} 



<h2 id="guest-lectures"><font color="#800020">Guest Lectures</font></h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.guest-lectures reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
  <!-- <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2> -->
  {% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
  {% include archive-single-teaching.html %}
{% endfor %}



<h2 id="demonstrator"><font color="#002d72">Demonstrator in Computer Science</font></h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.demonstration reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
  <!-- <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2> -->
  {% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
  {% include archive-single-teaching.html %}
{% endfor %} 


<h2 id="GTA"><font color="#4F2683">Graduate Teaching Assistant in Mathematics</font></h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.GTA reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
  <!-- <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2> -->
  {% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
  {% include archive-single-teaching.html %}
{% endfor %} 



<h2 id="trainer"><font color="#800020">Math Competition Trainer</font></h2>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.comp-training reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
  <!-- <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2> -->
  {% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
  {% include archive-single-teaching.html %}
{% endfor %} 