{% include base_path %}

<!doctype html>

<html lang="en">
  <head>
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %} 

    <link href="/files/pfmrg_slides/web_files/css/font.css" rel="stylesheet" />
    <link href="/files/pages/pfmrg_slides/web_files/css/stylesheet.css" rel="stylesheet" />
    <link href="/files/pages/pfmrg_slides/web_files/css/table.css" rel="stylesheet" />
    <link rel="icon" href="files/pfmrg_slides/resource/images/Raphael_the_school_of_Athens_large.jpg" />

  </head>

  <body class="impress-not-supported">



    {{ content }}


  <script src="../files/pfmrg_slides/web_files/js/impress.js"></script>
  <script>impress().init();</script>


  </body>
</html>
