@font-face
{
	font-family: "Amaranth-Regular";
	src: url("web_files/font/amaranth/Amaranth-Regular.otf") format("opentype");
}


@font-face
{
  font-family: "Amaranth-Italic";
  src: url("web_files/font/amaranth/Amaranth-Italic.otf") format("opentype");
}

@font-face
{
	font-family: 'OpenSans-Regular';
	src: url("web_files/font/open_sans/OpenSans-Regular.ttf");
}

@font-face
{
  font-family: 'OpenSans-Italic';
  src: url("web_files/font/open_sans/OpenSans-Italic.ttf");
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("web_files/font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("web_files/font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  src: url("web_files/font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Patua One';
  src: url("web_files/font/PatuaOne-Regular.ttf");
}

@font-face {
  font-family: 'DroidSans';
  src: url("web_files/font/DroidSans.ttf");
}
